

.update-info{
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}


.crate-account{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(185, 185, 185, 0.425);

  z-index: 999999;
}

.crate-account-form{
  display: block;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  padding: 50px;
}

.input-field + .input-field{
  margin-top: 10px;
}

.input-field{
  display: grid;
  grid-template-columns: 120px auto;
  align-items: center;
}

.create-btn{
  text-align: center;
  cursor: pointer;
}
.select{
  margin-left: 10px;
  border: 1px solid #d5dbd9;
  outline: none;
  padding: 8px 10px;
  border-radius: 3px;
}

.log-out{
  position: absolute;
  top: 10px;
  right: 10px;
}


.update-btn{
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #009879;
  font-size: 15px;
}


.create-btn{
  text-align: center;
  cursor: pointer;
}

.custome-selection{
  margin-left: 0;
}

textarea {
  resize: none;
}

.setting-form{
  width: 30rem;
}

.statistic-container{
  background-color: rgba(233, 233, 233, 0.644);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
}

.statistic-data-container{
}

.statistic-title{
  display: inline-block;
  width: 200px;
}

.statistic-data{
  display: block;
  float: right;
}
