<div class="compoment-container">
  <div class="container-sub">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 content-table">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Tên</th>
        <td mat-cell *matCellDef="let element"> <a>{{element.reciver_fullname}}</a> </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Tỉnh/Thành Phố </th>
        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Quận/Huyện </th>
        <td mat-cell *matCellDef="let element"> {{element.district}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ward">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Phường/Xã </th>
        <td mat-cell *matCellDef="let element"> {{element.ward}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Địa Chỉ </th>
        <td mat-cell *matCellDef="let element"> {{element.reciver_address}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> SDT </th>
        <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Tổng Tiền </th>
        <td mat-cell *matCellDef="let element"> {{element.total_price | moneyFormat}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-rows"></tr>
    </table>
  </div>
</div>
