<div class="compoment-container">
  <div class="container-sub">
    <div class="content-table">
      <div class="input-field">
        <label for="">Tình Trạng:</label>
        <select [(ngModel)]='orderStatus' name="newAccountRole" class="select">
          <!-- <option *ngFor="let item of CatetoryDrop;" (value)="item.value">{{item.title}}</option> -->
          <option value="">--Chọn--</option>
          <option value="ORDER">Đang Đặt</option>
          <option value="DONE">Thành Công</option>
          <option value="CANCEL">Hủy</option>
        </select>
      </div>
      <div class="input-field">
        <label for="">Bao Nhiêu Ngày:</label>
        <input type="number" name="newuserName" class="text-input" placeholder="Ngày" [(ngModel)]='date'>
      </div>
      <input type="button" value="Apply" class="refresh" (click)="refresh()">
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 content-table">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Tên </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/orderdetail', element.package_order_second_id]">{{element.reciver_fullname}}</a>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Địa Chỉ </th>
        <td mat-cell *matCellDef="let element"> {{element.reciver_address}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Tỉnh/Thành Phố </th>
        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Quận/Huyện </th>
        <td mat-cell *matCellDef="let element"> {{element.district}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ward">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Phường/Xã </th>
        <td mat-cell *matCellDef="let element"> {{element.ward}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> SDT </th>
        <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="totalprice">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Giá Sản Phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.real_price | moneyFormat}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="shipprice">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Ship </th>
        <td mat-cell *matCellDef="let element"> {{element.ship_price | moneyFormat}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> T/G </th>
        <td mat-cell *matCellDef="let element">
          {{element.createat | datetime}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-rows"></tr>
    </table>

  </div>
</div>
