<div class="compoment-container">
  <div class="container-sub">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 content-table">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> ID </th>
        <td mat-cell *matCellDef="let element">{{element.id}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Tên </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Đơn Vị </th>
        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Số Lượng </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Giá </th>
        <td mat-cell *matCellDef="let element"> {{element.price | moneyFormat}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef class="table-header-col"> Voucher </th>
        <td mat-cell *matCellDef="let element"> {{element.voucher}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-rows"></tr>
    </table>

    <div class="total-container">
      <div class="delivery-info">
        <div class="pair-info">
          <h4>Trạng Thái</h4>
          <span>{{status | productStatus}}</span>
        </div>
        <div class="pair-info">
          <h4>User ID</h4>
          <span>{{userID}}</span>
        </div>
        <div class="pair-info">
          <h4>Tên</h4>
          <span>{{fullName}}</span>
        </div>
        <div class="pair-info">
          <h4>Phone</h4>
          <span>{{phone}}</span>
        </div>
        <div class="pair-info">
          <h4>Tỉnh/Thành phó</h4>
          <span>{{region}}</span>
        </div>
        <div class="pair-info">
          <h4>Quận/Huyện</h4>
          <span>{{district}}</span>
        </div>
        <div class="pair-info">
          <h4>Xã/Phường</h4>
          <span>{{ward}}</span>
        </div>
        <div class="pair-info no-bottom-border">
          <h4>Địa Chỉ</h4>
          <span>{{address}}</span>
        </div>
      </div>
      <form action="" class="price-check-info">
        <div class="pair-info">
          <h4>Tổng giá(đã discount và voucher)</h4>
          <span>{{price | moneyFormat}}</span>
        </div>
        <div class="pair-info">
          <h4>Ship</h4>
          <span>{{shipPrice | moneyFormat}}</span>
        </div>
        <div class="pair-info">
          <h4>Tổng Giá</h4>
          <span>{{totalPrice | moneyFormat}}</span>
        </div>
        <div class="pair-info no-bottom-border">
          <a (click)="Print(printer)" class="close">In Hóa Đơn</a>
        </div>
        <div class="pair-info no-bottom-border">
          <a (click)="doneOrder()" class="close">Thành Công</a>
        </div>
        <div class="pair-info no-bottom-border">
          <a (click)="cancelOrder()" class="close close-order">Hủy Đơn Hàng</a>
        </div>
      </form>
      <iframe frameborder="0" #printer>
      </iframe>
    </div>
  </div>
</div>
