.content-table{
  width: 95%;
  margin: 25px auto;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 600px;
}
.table-header{
  background-color: #009879;
}
.table-header-col{
  color: white;
}
.row-rows:nth-of-type(even){
  background-color: #f3f3f3;
}
.add-beer{
  cursor: pointer;
  color: white;
}
.delete-image{
  cursor: pointer;
}
.refresh{
  color: white;
  background-color: rgb(22, 123, 238);
  padding: 10px 15px;
  margin-left: 25px;
  margin-top: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease;
}
.total-container{
  width: 95%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 15px;
}
.total-container .pair-info{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(155, 155, 155);
}
.total-container .pair-info h4{
  font-size: 17px;
  display: inline-block;
}
.total-container .pair-info span{

}
.total-container .pair-info.no-bottom-border{
  border-bottom: none;
}
.close{
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #009879;
  padding: 10px 20px;
  opacity: 1;
  font-weight: normal;
  margin: 0 auto;
}
