.content-table{
  width: 95%;
  margin: 25px auto;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 600px;
}
.table-header{
  background-color: #009879;
}
.table-header-col{
  color: white;
}
.row-rows:nth-of-type(even){
  background-color: #f3f3f3;
}
.add-beer{
  cursor: pointer;
  color: white;
}
th{
  text-align: center;
}
td{
  max-width: 150px;
  padding: 10px;
  vertical-align: middle;
  overflow: hidden;
  word-wrap: break-word;
}

.delete-image{
  cursor: pointer;
}
