.disable-edit {
  pointer-events: none;
}

.intLink {
  cursor: pointer;
}

img.intLink {
  border: 0;
}

#toolBar1 select {
  font-size: 13px;
}

.textBox {
  height: 700px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
}

.textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}

#editMode label {
  cursor: pointer;
}

:host ::ng-deep .textBox > * {
  max-width: 100%;
}

:host ::ng-deep .textBox > div > div
:host ::ng-deep .textBox > div > img,
:host ::ng-deep .textBox > div > iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

:host ::ng-deep .textBox > div iframe,
:host ::ng-deep .textBox > div img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

:host {
  max-width: 100%;
}

:host ::ng-deep * {
  max-width: 100%;
}

:host ::ng-deep ol {
  list-style-type: decimal;
}

:host ::ng-deep ul {
  list-style-type: disc;
}

:host ::ng-deep li {
  list-style: inherit;
  margin-left: 2em;
}
