<div *ngIf="showConfigView()">
  <app-upload-image #imageManager title="Beer Images:"></app-upload-image>
  <div class="form-container">
    <div class="input-container">
      <div class="sub-input">
        <div class="input-field">
          <label>Tên Sản Phẩm:</label>
          <input type="text" class="input" [(ngModel)]='beerName' required>
        </div>
        <div class="input-field">
          <label>Thông Tin Chi Tiết:</label>
          <textarea class="textarea" [(ngModel)]='beerDetail' required></textarea>
        </div>
        <div class="input-field">
          <label>Loại Hải Sản</label>
          <div class="category-select">
            <select [(ngModel)]='beerCategory' class="select">
              <!-- <option *ngFor="let item of CatetoryDrop;" (value)="item.value">{{item.title}}</option> -->
              <option value="">--Chọn--</option>
              <option value="crab">Cua</option>
              <option value="shrimp">Tôm</option>
              <option value="squid">Mực</option>
              <option value="holothurian">Hải Sâm</option>
              <option value="haliotis">Bào Ngư</option>
              <option value="oyster">Hàu</option>
              <option value="fish">Cá</option>
              <option value="snail">Ốc</option>
            </select>
          </div>
        </div>
        <div class="input-field">
          <label>Trạng Thái</label>
          <div class="category-select">
            <select [(ngModel)]='beerStatus' class="select">
              <!-- <option *ngFor="let item of CatetoryDrop;" (value)="item.value">{{item.title}}</option> -->
              <option value="">--Chọn--</option>
              <option value="avariable">Đang Bán</option>
              <option value="not_for_sell">Có Thể Đặt Hàng</option>
              <option value="sold_out">Hết Hàng</option>
              <option value="hide">Ẩn</option>
            </select>
          </div>
        </div>
      </div>
      <div class="sub-input">
        <div *ngFor="let unit of listUnits; let i = index;">
          <div class="product-type">
            <div class="input-field">
              <label>Đơn Vị:</label>
              <input [(ngModel)]='unit.name' type="text" class="input">
            </div>
            <div class="input-field">
              <label>Giá Cả:</label>
              <input [(ngModel)]='unit.price' type="number" class="input">
            </div>
            <div class="input-field">
              <label>Giảm Giá(Discount %):</label>
              <input type="number" [(ngModel)]='unit.discount' class="input">
            </div>
            <div class="input-field">
              <label>Hạn Giảm Giá:</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="unit.dateExpir" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-field">
              <label>Thể Tích(ml):</label>
              <input type="text" class="input" [(ngModel)]='unit.volumetric'>
            </div>
            <div class="input-field">
              <label>Khối Lượng(Kg):</label>
              <input type="text" class="input" [(ngModel)]='unit.weight'>
            </div>
            <div class="input-field">
              <label>Trạng Thái</label>
              <div class="category-select">
                <select [(ngModel)]='unit.status' class="select">
                  <!-- <option *ngFor="let item of CatetoryDrop;" (value)="item.value">{{item.title}}</option> -->
                  <option value="">--Chọn--</option>
                  <option value="avariable">Đang Bán</option>
                  <option value="not_for_sell">Có Thể Đặt Hàng</option>
                  <option value="sold_out">Hết Hàng</option>
                </select>
              </div>
            </div>
            <div class="input-field">
              <fa-icon [icon]="faTrash" class="sub-beer-type" (click)='removeUnit(i)' *ngIf='listUnits.length>1'></fa-icon>
            </div>
          </div>
        </div>
        <fa-icon [icon]="faPlus" class="add-beer-type" (click)='addnewUnit()'></fa-icon>
        <div class="input-field">
          <input type="submit" class="submit-btn" [disabled]='isDisableSubmitButton' (click)='submitBeer()'>
        </div>
      </div>
    </div>
  </div>
  <div class="form-container">
    <app-product-import [subPath]='subPath' [productID]='beerID'></app-product-import>
  </div>
</div>
