<div class="compoment-container">
  <div class="container-sub">
    <div class="user-info-container">
      <h4 class="title">Thông Tin Người Dùng</h4>
      <p>Name: <span class="main-info">{{username}}</span></p>
      <p>Role: <span class="main-info">{{role}}</span></p>
      <form class="update-info">
        <label for="">Đổi Pass:</label>
        <input type="password" name="" id="" class="text-input" placeholder="old pass">
        <input type="password" name="" id="" class="text-input" placeholder="new pass">
        <input type="password" name="" id="" class="text-input" placeholder="confirm new pass">
        <a href="">Update</a>
      </form>
      <form class="update-info">
        <label for="">Xóa Tài Khoản:</label>
        <input type="password" name="" id="" class="text-input" placeholder="pass">
        <input type="password" name="" id="" class="text-input" placeholder="confirm pass">
        <a href="" class="delete">Delete</a>
      </form>
    </div>
  </div>
</div>
