.user-info-container{
  position: relative;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 50rem;
  min-width: max-content;
  background-color: rgba(233, 231, 231, 0.308);
  border-radius: 0.5rem;
  border: 1px solid rgb(153, 153, 153);
}

.full-parent{
  max-width: 100%;
}

.title{
  text-align: center;
  position: relative;
  width: max-content;
  margin: 0 auto;
}
.title::after{
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: 1px;
  bottom: -3px;
  left: 5px;
  background-color: gray;
}

.main-info{
  font-style: bold;
  font-size: 1.1em;
}

.update-info{
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.gravity-right{
  margin-left: auto;
}

input{
  margin-left: 10px;
}

.update-btn{
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #009879;
  font-size: 15px;
}

.delete{
  background-color: red;
}


.crate-account{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(185, 185, 185, 0.425);

  z-index: 999999;
}

.crate-account-form{
  display: block;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  padding: 50px;
}

.input-field + .input-field{
  margin-top: 10px;
}

.input-field{
  display: grid;
  grid-template-columns: 120px auto;
  align-items: center;
}

.create-btn{
  text-align: center;
  cursor: pointer;
}
.select{
  margin-left: 10px;
  border: 1px solid #d5dbd9;
  outline: none;
  padding: 8px 10px;
  border-radius: 3px;
}

.log-out{
  position: absolute;
  top: 10px;
  right: 10px;
}
